version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx_ssl
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    restart: always

  backend:
    image: priyanshchowhan/app-backend:latest
    container_name: backend
    env_file:
      - ./backend/.env.production
    expose:
      - "5000"
    restart: always

  frontend:
    image: priyanshchowhan/app-frontend:latest
    expose:
      - "80"
    restart: always
